.delete-button {
    display: block;
    text-align: center;
    background-color: #ff6962;
    color: #000;
    padding: 10px 20px; 
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin: 20px auto 0 auto;
    cursor: pointer;
    box-shadow: 0 4px 5px rgb(239,50,70);
    border: none;
    transition: 0.1s ease;
    margin-bottom: 1rem;
  }

.delete-button:hover {
    background-color: rgb(239,50,70);
    transform: translateZ(3px) translateX(-3px) translateY(3px);
    box-shadow: 0 5px 8px rgb(239,50,70);
}

@media (max-width:1024px) {
    .delete-button {
        max-width: 50%;
        font-size:0.8rem;
    }
}