.authors {
  height: 100%;
  width: 100%;
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: auto;
}

.authors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--peach);
  }

  .author-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 5px var(--purple);
    padding: 20px;
    max-width: 300px;
    width: 100%;
  }

  .author-card:hover {
    background-color: var(--purple);
    box-shadow: var(--purple);
    transition: 0.2s ease;
    transform: translateZ(3px) translateX(-3px) translateY(3px);
  }

  .author-card-link {
    text-decoration: none;
    color: black;
  }

  .author-image {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .author-image img {
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
  }

  .author-name {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .author-biography {
    height:4.5rem;
    max-height: 4.5em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2rem;
  }

  .author-books {
    margin-top: 20px;
  }

  /* .learn-more-link {
    display: block;
    min-width: 60%;
    text-align: center;
    background-color: var(--pink);
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px auto 20px auto;
    cursor: pointer;
    box-shadow: 0 4px 5px var(--purple);
    transition: 0.1s ease;
  }

  .learn-more-link:hover {
    background-color: var(--purple);
    transform: translateZ(3px) translateX(-3px) translateY(3px);
    box-shadow: 0 5px 8px var(--pink);
  } */

  .no-image {
    color: #ff0000;
  }

  .divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }

  .book-title {
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-style: italic;
  }


  @media (max-width: 768px) {
    .authors {
      margin-left: 38px;
      margin-right: 5px;
    }
    .authors-container {
      flex-direction: column;
      align-items: center;
      margin-bottom: 38px;
    }

    .author-card {
      width: 85%;
      margin-bottom: 20px;
    }
  }
