.social-bar {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 70px;
    border-left: 2px solid var(--purple);
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .social-icon {
    background-color: #000;
    border-radius: 50px;
    color: #f1f1f1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }

  .social-icon:hover {
    background-color: var(--peach);
  }

  .social-icon:hover img{
    filter: invert(100%);
  }


  @media (max-width: 768px) {
    .social-bar {
      bottom: 0;
      background-color: transparent;
      border: 0;
      display: flex;
      flex-direction: row;
      z-index: 500;
    }

    .social-icons {
      flex-direction: row;
      position: absolute;
      bottom: 6%;
      margin-left: -85vw;
      background-color: var(--pink);
      padding: 10px 50px;
      border-radius: 20px;
    }
  }
