.books {
    height: 100%;
    width: 100%;
    background-color: var(--peach);
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: auto;
}

.library {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--peach);
  }
  
  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 5px var(--purple);
    padding: 20px;
    max-width: 300px;
    width: 100%;
  }
  
  .book-image-container {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-image-container img {
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
  }

  .book-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .book-description {
    margin-bottom: 10px;
    max-height: 6em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .book-isbn {
    margin-bottom: 10px;
  }
  
  .book-release-date {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .book-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .author-name {
    font-weight: bold;
  }
  
  .learn-more-link {
    display: block;
    min-width: 60%;
    text-align: center;
    background-color: var(--pink);
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px auto 20px auto;
    cursor: pointer;
    box-shadow: 0 4px 5px var(--purple);
    transition: 0.1s ease;
  }

  .learn-more-link:hover {
    background-color: var(--purple);
    transform: translateZ(3px) translateX(-3px) translateY(3px);
    box-shadow: 0 5px 8px var(--pink);
  }

  
  
  .author-not-available {
    color: #ff0000;
  }
  

  @media (max-width: 768px) {
    .books {
      margin-left: 38px;
    }
    .library {
      flex-direction: column;
      align-items: center;
      margin-bottom: 35px;
    }
  
    .book-card {
      width: 90%;
      margin-bottom: 20px;
    }
  }