.books {
    height: 100%;
    width: 100%;
    background-color: var(--peach);
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: auto;
}

.library {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--peach);
  }

  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 5px var(--purple);
    padding: 20px;
    max-width: 300px;
    width: 100%;
  }

  .book-card:hover {
    background-color: var(--purple);
    box-shadow: var(--purple);
    transition: 0.2s ease;
    transform: translateZ(3px) translateX(-3px) translateY(3px);
  }

  .book-card-link {
    text-decoration: none;
    color: inherit;
  }

  .book-image-container {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .book-image-container img {
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
  }

  .book-title {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .book-description {
    margin-bottom: 10px;
    max-height: 6em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .book-isbn {
    margin-bottom: 10px;
  }

  .book-release-date {
    font-style: italic;
    margin-bottom: 10px;
  }

  .book-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .author-name {
    color: purple;
    font-size: 1rem;
  }


  .author-not-available {
    color: #ff0000;
  }


  @media (max-width: 768px) {
    .books {
      margin-left: 38px;
    }
    .library {
      flex-direction: column;
      align-items: center;
    }

    .book-card {
      width: 90%;
      margin-bottom: 20px;
    }
  }
