.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
    width: 30%;
    height:35%;
    background-color: var(--pink);
    border-radius: 8px;
    gap: 10px;
}

.login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
  .login-form {
    width: 80%;
    height: 80%;
    margin:auto;
    min-width: 60%;
    border: 3px solid var(--purple);
    margin:5%
  }

  .login {
    height: 100%;
    width: 100%;
  }
}

@media (max-width:1024px) {
  .login-form {
    width: 80%;
    height: 80%;
    margin: 5%;
    border: 3px solid var(--purple);
    margin-left: 75px;
  }

  .login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}