.posts {
    height: 100%;
    width: 100%;
    background-color: var(--peach);
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: auto;
}

.posts-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    gap: 20px;
    padding: 20px;
  }

  .post-card {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 5px var(--purple);
    padding: 20px;
  }

  .post-card:hover{
    background-color: var(--purple);
    box-shadow: var(--purple);
    transition: 0.2s ease;
    transform: translateZ(3px) translateX(-3px) translateY(3px);
  }

  .post-card img {
    width: 25%;
    height: auto;
    margin: auto;
  }

  .post-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .post-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .post-content {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
  }

  .post-date {
    font-style: italic;
    margin-bottom: 10px;
  }


  .divider {
    margin-top: 20px;
    border: 1px solid #ddd;
  }


  @media (max-width: 768px) {
    .posts-container {
      width: 95%;
      padding: 10px;
    }
    .post-card img {
      width: 40%;
      height: auto;
    }
    .post-title {
      font-size: 1rem;
    }

    .post-content {
      font-size: 0.9rem;
    }

    .post-date {
      font-size: 0.8rem;
    }

    .learn-more-link {
      font-size: 0.9rem;
      width: 70%;
      margin: auto;
    }
  }

  @media (max-width: 1024px) {
    .posts-container {
      width: 70%;
      margin-left: 80px;
      margin-bottom: 45px;
    }

    .post-card {
      display: flex;
      flex-direction: column;
    }
    .post-card img {
      width: 30%;
      height: auto;
    }
  }
