.nav-side {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 997;
    border-right:2px solid var(--purple) ;
    background-color: var(--pink);

  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    justify-content: space-around;

  }

  .nav-retracted {
    width: 70px;
    overflow: hidden;
    transition: width 0.3s;

  }

  .nav-expanded {
    width: 250px;
    transition: width 0.3s;
    z-index: 999;
  }

  nav button {
    background-color: transparent;
    border-radius: 50px;
    color: #000;
    width: 40px;
    height: 40px;
    border: none;
    margin-bottom: 40px;
    margin-left: -8px;
    justify-content: space-between;
    transition: background-color 0.3s;
  }

  .nav-link {
    background-color: #000;
    border-radius: 50px;
    color: #f1f1f1;
    width: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .nav-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .nav-link:hover {
    background-color: var(--peach);
    border: 1px solid #000;
  }

  .nav-link:active {
    color: #f1f1f1;
  }

  .nav-link:focus{
    color: #ff8800
  }
  .expanded {
    width: 200px;
    transition: width 0.5s ;
  }




@media (max-height: 800px) {
  .nav-side {
    height: 100%;
  }

  .nav-link {
    margin-bottom: 20px;
  }

  .svg-inline--fa {
    margin-left: 13px;
    transform: translateX(-0px);
  }
}


@media (max-height: 580px) {
  .nav-side {
    height: 100%;
  }

  .nav-link {
    margin-bottom: 8px;
  }

  .svg-inline--fa {
    transform: translateX(-0px);
  }

 
}


@media (max-height: 1000px) {
  .nav-side {
    height: 100%;
  }

  .nav-link {
    margin-bottom: 20px;
  }

 
}

@media (max-width: 1024px) {
  .svg-inline--fa {
    margin-left: 13px;
    transform: translateX(-0px);
  }
  
}



@media (min-width:1024px) {
  .nav-link svg {
    margin-left: 6px;
  }
}