.nav-tabs .nav-item {
    background-color: var(--pink) !important;
    border-radius: 20px 20px 0 0;
    border: none;
    
}

.nav {
    --bs-nav-tabs-link-active-color: #000;
}


.nav-tabs .nav-item .active {
    background-color: var(--peach) !important;
    border-bottom: 0px;
    border-radius: 20px;
}

.nav-tabs .nav-link {
    border: none;
}

.mb-3 {
    margin: 0 !important;
    border-bottom: none !important;
}

.tab-content {
    height: 100%;
    width: 100%;
    background-color: var(--peach) !important;
}

.nav-item .nav-link {
    background-color: var(--pink) !important;
    color: #800080;
    font-weight: 600;
}

.nav-item .nav-link:hover {
    color: #f1f1f1;
    font-weight: 700;
}



@media (max-width:768px) {
    .nav-tabs .nav-item {
        width: auto;
        font-size: 13px;
        border-radius: 0;
    }

    .nav-tabs .nav-item .active {
        border-radius: 0;
    }

    .nav-tabs {
        position: absolute;
        width: 100%;
        z-index: 998;
    }
}
